:root {
    /* Cores principais */
    --cor-primaria: #004AAD;
    --cor-primaria-hover: #022B9C;
    --cor-primaria-clara: #A5BDFF;

    /* Fundos */
    --cor-fundo: #D6E9FF;
    --cor-fundo-input: #FFFFFF;
    --cor-fundo-dropdown: #EFEFEF;

    /* Textos */
    --cor-texto: #000000;
    --cor-texto-secundario: #706D6D;
    --cor-texto-claro: #FFFFFF;

    /* Bordas */
    --cor-borda: #004AAD;

    /* Efeitos */
    --cor-hover: #022B9C29;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header - padrão para todas as páginas */

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    background-color: var(--cor-primaria);
    padding: 0 40px
}

.menu {
    display: flex;
    gap: 30px
}

.menu .icone {
    color: var(--cor-texto-claro);
    font-size: 40px;
    cursor: pointer;
    transition: color 0.2s ease;
}

.menu .icone:hover {
    color: var(--cor-primaria-clara);
}

/* Header que possui coração */

.menu .coracao {
    color: var(--cor-texto-claro);
    font-size: 40px;
}

/* Main - padrão para todas as páginas */

main {
    background-color: var(--cor-fundo);
    height: 85vh;
    padding-top: 30px;
    box-sizing: border-box;
}

/* Barra de Progresso - padrão para as páginas de quiz */

progress {
    width: 80%;
    height: 20px;
    display: block;
    margin: 0 auto;
}

/* Página Home */

.secao-modulos {
    display: grid;
    grid-template-columns: repeat(3, 30vw);
    justify-content: center;
    align-content: center;
    gap: 0;
    background-color: var(--cor-fundo);
    height: 85vh;
}

.cartao-modulo {
    display: flex;
    flex-direction: column;

    align-items: center;

    text-align: center;
    text-decoration: none;
    color: black;
    padding: 10px 10px;
    width: 100px;
}

.card-modulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartao-modulo figure {
    width: 180px;
    height: 180px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 15px;
    background-color: var(--cor-fundo-input);
    transition: background-color 0.2s ease;
    margin: 0;
    box-sizing: border-box;
}

.cartao-modulo figure:hover {
    background-color: var(--cor-primaria-hover);
}

.cartao-modulo .icone {
    font-size: 40px;
    color: var(--cor-primaria);
    transition: color 0.2s ease;
}

.cartao-modulo:hover .icone {
    color: var(--cor-texto-claro);
}

.cartao-modulo .alfabeto {
    font-size: 60px;
}

.cartao-modulo .numeros {
    font-size: 60px;
}

.cartao-modulo h3 {
    margin-top: 5px;
}

/* Página modulo */

.modulo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 600px;
    background-color: var(--cor-fundo);
    height: 85vh;
}

.card {
    display: flex;
    flex-direction: column;

    align-items: center;

    text-align: center;
    text-decoration: none;
    color: black;
    padding: 10px 10px;
    width: 100px;
}

.card figure {
    width: 180px;
    height: 180px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 15px;
    background-color: var(--cor-fundo-input);
    transition: background-color 0.2s ease;
    margin: 0;
    box-sizing: border-box;
}

.card .icone {
    font-size: 40px;
    color: var(--cor-primaria);
    transition: color 0.2s ease;
}

.card h3 {
    margin-top: 5px;
}

.card a {
    text-decoration: none;
    color: var(--cor-texto)
}

.card:hover figure {
    background-color: var(--cor-primaria-hover);
}

.card:hover .icone {
    color: var(--cor-texto-claro);
}

/* Página Aula */

.titulo-aula {
    text-align: left;
    margin-left: 60px;
    color: var(--cor-texto)
}

.container-aula {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.container-aula .video {
    width: 900px;
    height: 550px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-fundo-input);
    border-radius: 15px;
    overflow: hidden;
}

.container-aula .video img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-aula .material-symbols-outlined {
    font-size: 40px;
    color: var(--cor-primaria);
}

.container-aula .material-symbols-outlined:hover {
    color: var(--cor-texto-claro);
    cursor: pointer;
    transition: color 0.2s ease;
}

/* Página quiz selecione o correto 1 */

.secao-quiz {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 80px;

    background-color: var(--cor-fundo);
    height: auto;
}

.secao-quiz h2 {
    margin: 30px 0 0 0;
}

.secao-quiz .video-seta {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: 50px;
}

.secao-quiz .video {
    width: 600px;
    height: 350px;
    margin: 0;
    background-color: var(--cor-fundo-input);
    border-radius: 15px;
    overflow: hidden;
}

.secao-quiz .video img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.seta {
    color: var(--cor-primaria);
    text-decoration: none;
    font-size: 40px;
}

.secao-quiz a {
    color: var(--cor-primaria);
}

.secao-quiz a:hover {
    color: var(--cor-texto-claro);
}

.secao-quiz section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.secao-quiz section a {
    position: fixed;
    right: 60px;
    top: 50vh;
}

.secao-quiz article {
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-fundo-input);
    border-radius: 15px;
    cursor: pointer;
}

.secao-quiz article:hover {
    background-color: var(--cor-primaria-hover);
    color: var(--cor-texto-claro);
    transition: color 0.2s ease;
}

.secao-quiz .opcao-video {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 30px;
}

.secao-quiz .opcao-video .video {
    width: 300px;
    height: 300px;
}

.secao-quiz .questao {
    gap: 100px;
}

.secao-quiz .container-texto,
.container-video {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.secao-quiz .container-texto article {
    padding: 70px 20px;
}

.secao-quiz .container-video article {
    padding: 20px;
}

.secao-quiz .container-video .video {
    width: 200px;
    height: 150px;
}